<div class='col-sm-3'>
  <% if can?(:new, ::Tabulae14) %>
    <%= link_to 'Nuevo en el mismo puesto',
      main_app.tabulae14_nuevomismopuesto_path(@registro.id), :class => 'btn'  %>
  <% end %>
</div>

