<p>
Con la colaboración de <a href='https://app.fotoe14.co/'>https://app.fotoe14.co/'</a> esperamos que esta
funcionalidad opere con fotografías de los E-14 
enviadas por los testigos electorales el 19 de 
Junio a medida que se cierran las mesas.
</p>
<p>
Mientras tanto puede entrenarse y colaborar
tabulando formularios E-14 de la 
primera vuelta así:
<ol>
  <li>Elija una mesa desde
<a href='https://divulgacione14presidencia.registraduria.gov.co/' target='_blank'>la página de la registraduría</a>
y abra la foto del respectivo formulario E-14.</li>
  <li>Ubique la misma 
  mesa <%= link_to 'en los resultados de primera vuelta de este sitio', main_app.elecciones_nacional_path(id: 1) %>. </li>
  <li>Presione el botón "Tabular E-14 para esta mesa"</li>
  <li>Copie lo más fiel que le sea posible el contenido de la E-14 en el formulario que se abrirá y una vez termine presione Guardar.</lI>
  <li>Tras esto podrá ver los resultados actualizados</li>
</ol>
