<h1>Política de protección de datos personales y términos de uso</h1>

<p>
La información personal que este sitio requiere de cada usuario consta 
de nombre y correo electrónico válido.
</p>
<p>
Para el objeto de este sitio su correo se considera información privada
y Pasos de Jesús lo usará para contactarlo e informarle más sobre
este aplicativo y otros de Pasos de Jesús sólo si así lo acepta en el
momento de la suscripción.  Para aumentar transparencia, esperamos
sólo adultos, que suministren un nombre cierto, el cual se considerará
información pública, así como cualquier información que sistematice aquí. 
<br>
Respecto a propiedad intelectual, los datos que sistematice se suponen
que son conteos de elecciones populares, son de todos los colombianos y por
lo mismo de dominio público.
</p>
<p>
Al inscribirse en esta aplicación se compromete a:
<ul>
  <li>Suministrar información cierta que quedará vinculada a su correo y nombre
    (las cuentas que suministren información falsa serán deshabilitadas y
    la información que hayan ingresado no entrará en los conteos).</li>
  <li>Dar y recibir un trato respetuoso.</li>
  <li>No suministrar su clave a otras personas, ni usufructuar comercialmente
    el acceso a esta aplicación. El uso de su cuenta es personal.</li>
  <li>En caso de emplear los datos o el código fuente por favor citar 
    <a href="https://sal136.pasosdeJesus.org">https://sal136.pasosdeJesus.org</a>
  </li>
  <li>Podrá rectificar su información personal desde Administrar->Perfil</li>
  <li>
    Para borrar su información personal realice el siguiente procedimiento: 
    Desde Administrar->Perfil ponga "Deshabilitado" en los campo nombres y 
    apellidos, guarde y salga de su cuenta.  Su cuenta será deshabilitada un 
    tiempo después.   Tenga en cuenta que por trazabilidad y consistencia de 
    la información el correo original con el que se suscribió queda 
    vinculado a los registros que hizo, pero que los datos vinculados 
    a usuarios deshabilitados no se tendrán en cuentas en sumas ni promedios,
    ni se presentarán en el listado de formularios, aunque si quedarán en 
    el volcado de datos.
  </li>
</ul>
</p>

<p>
Si tiene requerimientos especiales puede contactar
al administrador del sitio escribiendo a
<a href='mailto:info@pasosdeJesus.org'>info@pasosdeJesus.org</a>.
</p>

