<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados por departamento para <%= @eleccion.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-6' align='center'>
    Departamento: <%= @departamento.nombre %>
  </div>
</div>

<% @filtro = {
  eleccion_id: @eleccion.id,
  departamento_id: @departamento.id 
} %>
<%= render partial: 'tabla_resultados' %>

<% Sip::Municipio.habilitados.where(id_departamento: @departamento.id).each do |m| %>
  <div class='ressubitem'>
    <%= link_to("Municipio #{m.nombre}", 
                elecciones_municipal_path(codmun: m.codreg)) %>
  </div>
<% end %>

<div class='ressuperitem'>
  <%= link_to('Total nacional', elecciones_nacional_path) %>
</div>
