<div class='row'>
  <div class='col-12' align='center'>
    Totales tabulados por mesa para <%= @eleccion.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-6' align='center'>
    Departamento: <%= @departamento.nombre %>
  </div>
  <div class='col-6' align='center'>
    Municipio <%= @municipio.nombre %>
  </div>
</div>
<div class='row'>
  <div class='col-4' align='center'>
    Zona <%= @zona.zona %>
  </div>
  <div class='col-4' align='center'>
    Puesto <%= @puesto.puesto %>
  </div>
  <div class='col-4' align='center'>
    Mesa <%= @mesa.mesa %>
  </div>
</div>

<% @filtro = {
  eleccion_id: @eleccion.id,
  mesa:@mesa.id,
  puesto: @puesto.id,
  zona: @zona.id,
  municipio_id: @municipio.id 
} %>
<%= render partial: 'tabla_resultados' %>

<div class='ressuperitem'>
  <%= link_to('Puesto de esta mesa', elecciones_puesto_path(
    puesto: @puesto.puesto)) %>
</div>
<% pr =  Tabulae14.where(
  usuario_id: current_usuario.id,
  eleccion_id: @eleccion.id,
  municipio_id: @municipio.id,
  zona: @zona.zona,
  puesto: @puesto.puesto) %>

<% if   pr.count > 0 %>
  <%= link_to('Editar su tabulación de E-14 para esta mesa', edit_tabulae14_path(pr.take)) %>
<% else %>
  <%= link_to('Tabular nuevo E-14 para esta mesa', new_tabulae14_path(
    eleccion_id: @eleccion.id, mesa_id:@mesa.id,
    mesa: @mesa.mesa, puesto: @puesto.puesto, 
    zona: @zona.zona, municipio_id: @municipio.id)) %>
<% end %>
